#logo{
  width: 300px;
}

.options-header{
  margin-right: 20px;
}

.options-header .icon-header:first-child{
  margin-right: 20px;
}

.icon-header{
  color: white;
}

.cambioestadofalse{
  background: rgba(83, 211, 44, 0.2);
}
