<mat-card>
    <app-header-form *ngIf="data.nuevo" titulo="REGISTRO CONTACTO EMPLEADO"></app-header-form>
    <app-header-form *ngIf="data.nuevo == false" titulo="ACTUALIZAR CONTACTO EMPLEADO"></app-header-form>
    <form [formGroup]="registro" #formDirective="ngForm" (submit)="registrar()">
        <h2 class="subtitulo">Contacto Usuario</h2>
        <div class="card my-4">
            <div fxLayout="row" fxLayout.md="column" fxLayoutAlign="space-between center" fxLayoutGap="5%"
                fxLayout.sm="column">
                <div class="form-div w-100" fxLayout="column" fxLayoutAlign="space-between start">
                    <label>Tipo Contacto:</label>
                    <select class="w-100" formControlName="tipo_contacto"
                        [ngClass]="registro.get('tipo_contacto').touched && !registro.get('tipo_contacto').valid ? 'is-invalid' : ''">
                        <option disabled selected value="0">Seleccionar Tipo Contacto</option>
                        <option value="1"> Telefono </option>
                        <option value="2"> Email </option>
                        <option value="3"> Fax </option>
                    </select>
                    <div class="invalid-feedback">El campo Tipo Contacto es requerido.</div>
                </div>
            </div>

            <div fxLayout="row" fxLayout.md="column" fxLayoutAlign="space-between center" fxLayoutGap="5%"
                fxLayout.sm="column">
                <div class="form-div w-100" fxLayout="column" fxLayoutAlign="space-between start">
                    <label>Valor:</label>
                    <input type="text" class="form-control" placeholder="Ingersar valor" formControlName="valor"
                        [ngClass]="registro.get('valor').touched && !registro.get('valor').valid ? 'is-invalid' : ''" />
                    <div class="invalid-feedback">El campo Valor es requerido.</div>
                </div>
            </div>
        </div>

        <div class="separador"></div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button *ngIf="data.nuevo" [disabled]="!registro.valid" type="submit" class="boton">Registrar</button>
            <button *ngIf="data.nuevo == false" type="button" (click)="actualizar()" [disabled]="!registro.valid" class="boton">Actualizar</button>
        </div>
    </form>

</mat-card>