<mat-card>
    <mat-card-header>
        <!-- <button class="boton btn-compartir" mat-raised-button [matMenuTriggerFor]="exportar">Compartir</button>
        <mat-menu #exportar="matMenu" yPosition="above">
        <button mat-menu-item>Compartir Email</button>
        <button mat-menu-item>Compartir Mensaje</button>
        </mat-menu> -->
        <button class="boton btn-exportar" mat-raised-button>Exportar PDF</button>
        <!-- <button (click)="edicion = !edicion" class="boton btn-edicion" mat-raised-button>Edición</button> -->
        <button (click)="registrar()" class="boton btn-registro" mat-raised-button>Nuevo Registro</button>
    </mat-card-header>
    <mat-card-content>

        <div *ngIf="contacto_usuario.length > 0; else nohay">
            <app-vista-usuario-contacto-tabla
                *ngIf="contacto_usuario.length > 0"
                [UsuarioContacto]="contacto_usuario"
                [UsuarioId]="usuarioId"
            >
            </app-vista-usuario-contacto-tabla>
            <!-- <div *ngFor="let contacto of contacto_usuario; let i = index;">
                <app-usuario-contacto [Contacto]="contacto" [Edicion]="edicion" (estado)="verificar($event)"></app-usuario-contacto>
            </div> -->
        </div>
        <ng-template #nohay>
            <app-no-lista [titulo]="NO_DATA"></app-no-lista>
        </ng-template>
    </mat-card-content>
</mat-card>