mat-card-header{
    justify-content: flex-end;
    width: 80%;
    margin: auto;
}

mat-card-content{
    margin-top: 20px;
}

.table-child{
    width: 100%!important;
}

.boton{
    margin-right: 10px;
    font-size: 12px;
}

.boton:last-child{
    margin-right: 0px;
}

.botones-tabla{
    justify-content: flex-end;
    margin-top: 10px;
    display: flex;
}

th{
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #c9c9c9;
    background: #e6fde1;
}

td{
    font-size: 11px;
    border: 1px solid #c9c9c9;
}