
/* For use in src/lib/core/theming/_palette.scss */
$principal-color: (
    50 : #e8f4e6,
    100 : #c5e4c1,
    200 : #9ed298,
    300 : #77bf6f,
    400 : #5ab250,
    500 : #3da431,
    600 : #379c2c,
    700 : #2f9225,
    800 : #27891f,
    900 : #1a7813,
    A100 : #b2ffad,
    A200 : #81ff7a,
    A400 : #51ff47,
    A700 : #39ff2e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gray-color: (
    50 : #eeeeee,
    100 : #d4d4d5,
    200 : #b8b8b9,
    300 : #9b9c9c,
    400 : #858687,
    500 : #707172,
    600 : #68696a,
    700 : #5d5e5f,
    800 : #535455,
    900 : #414242,
    A100 : #aaf6f6,
    A200 : #7bf1f1,
    A400 : #3bffff,
    A700 : #21ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red-color: (
    50 : #ffeaea,
    100 : #ffcaca,
    200 : #ffa7a7,
    300 : #ff8383,
    400 : #ff6969,
    500 : #ff4e4e,
    600 : #ff4747,
    700 : #ff3d3d,
    800 : #ff3535,
    900 : #ff2525,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd3d3,
    A700 : #ffb9b9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

